#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (orientation: landscape) {
  .p-accordion-height {
    height: 10rem

  }

  .accordions-container {
    height:fit-content;
     box-sizing:border-box;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
       justify-content: space-evenly;
        display:flex;
         flex-wrap:wrap; 
  }

  .accordion-container {
    width: 45%
  }

  .icons-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-evenly;
  }

  .icons-container * {
    margin-top:2rem;
    width: 3rem;
    height: 3rem;
  }
}

@media (orientation: portrait) {

  .technologies-container {
    min-height: 100svh;

  }
  .icons-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .icons-container * {
    margin-top:2rem;
    width: 3rem;
    height: 3rem;
  }
}

a {
  cursor: pointer;
  touch-action: manipulation;
  pointer-events: auto;

}




/* @media (orientation: portrait) {
  .accordion-container {
    border:1px solid red;
    width: 90%;
    display:flex;
    justify-content:center;
    margin-right: 5%;
    margin-left: 5%;
  }

    .accordion-container *:not(.contain-image) {
    width: 100%;
  }

  .accordions-container {
    height:fit-content;
     box-sizing:border-box;
      width: 100%;
       justify-content: space-evenly;
        display:flex;
        flex-direction: column;
         flex-wrap:wrap; 
  }
} */

